<section class="hdca-product-box__header">
    <div class="hdca-product-box__header-compare">
      <div class="hdca-form-field">
        <div class="hdca-form-field__container">
          <label class="hdca-form-field__wrap-label" for="{{this.id}}">
            <div class="hdca-checkbox">
              <input type="checkbox" id="{{this.id}}" name="{{this.id}}" class="hdca-checkbox__checkbox" />
              <span class="hdca-checkbox__faux-checkbox"></span>
            </div>
            <span class="hdca-form-field__label-text">Compare</span>
          </label>
        </div>
      </div>
    </div>
    <div class="hdca-product-box__header-intro">
      <div class="hdca-product-box__header-intro-img-box">
        <img class="hdca-product-box__header-intro-img" src="{{this.image}}" alt="can not find image" itemprop="image" />
      </div>
    </div>
</section>